[submodule "MarsEngine/src/Vender/imgui"]
	path = MarsEngine/src/Vender/imgui
	url = https://github.com/ocornut/imgui
[submodule "MarsEngine/src/Vender/stb"]
	path = MarsEngine/src/Vender/stb
	url = https://github.com/nothings/stb
[submodule "MarsEngine/src/Vender/glm"]
	path = MarsEngine/src/Vender/glm
	url = https://github.com/g-truc/glm
[submodule "MarsEngine/src/Core/MarsEngine_MemoryManagement"]
	path = MarsEngine/src/Core/MarsEngine_MemoryManagement
	url = https://github.com/VikramSGIT/MarsEngine_MemoryManagement.git
[submodule "MarsEngine/src/Core/Memory"]
	path = MarsEngine/src/Core/Memory
	url = https://github.com/VikramSGIT/Memory
[submodule "MarsEngine/src/Vender/spdlog"]
	path = MarsEngine/src/Vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MarsEngine/src/Core/MTL"]
	path = MarsEngine/src/Core/MTL
	url = https://github.com/VikramSGIT/MTL
[submodule "MarsEngine/src/Vender/MTL"]
	path = MarsEngine/src/Vender/MTL
	url = https://github.com/VikramSGIT/MTL
